{% extends "base.html.twig" %}

 {% block body %}
 <section class="sec1" style="background-image: url('/img/bg1.png');">
		<h1>Cele mai super oferte</h1>
	<h2>#PC4you</h2>
		<h3>Puteți să-vă alegeți singur componentele PC-ului dorit</h3>
	</section>
 {% endblock %}